<!doctype html>
<html>
<head>
	<% include ./head %>
</head>
<% include ./header %>


	<div class="page-header text-center">
		<h2>About Us</h2>
	</div>

        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
</body>
</html>