<!doctype html>
<html>
<head>
    <% include ./head %>
</head>
<% include ./header %>

	<div class="page-header text-center">
		<button class="btn pull-right btn-success" id="create"> Create show</button>
		<h2>Add a Show</h2>
	</div>

	<div class="container">
		<form class="form-horizontal" id="form">
			<div class="form-group">
				<label class="control-label col-sm-2" for="title">Title: </label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="title" name="title" required="true">
					<div id="titleValidation"></div>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="venue">Venue: </label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="venue" name="venue">
					<div id="venueValidation"></div>
				</div>
			</div>

			<!-- https://silviomoreto.github.io/bootstrap-select/options/ -->
			<div class="form-group">
				<label class="control-label col-sm-2" for="genre">Genre(s): </label>
				<div class="col-sm-8">
					<select class="selectpicker" multiple>
  						<option>Burlesque</option>
  						<option>Comedy</option>
  						<option>Musical Theatre</option>
  						<option>Play</option>
  						<option>Romance</option>
  						<option>Tragedy</option>
  						<!-- TODO: add more in alphabetical order -->
					</select>
					<div id="genreValidation"></div>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2">Upload photo: </label>
				<div class="col-sm-8">
					<label class="btn btn-primary" for="photo">
    					<input id="photo" type="file" accept="image/*" style="display:none" onchange="$('#photo-info').html(this.files[0].name)">Browse photos
					</label>
					<span class='label label-info' id="photo-info"></span>
				</div>
			</div>

			<!-- https://github.com/Eonasdan/bootstrap-datetimepicker -->
			<div class="form-group">
				<label class="control-label col-sm-2" for="date">When: </label>
				<div class="col-sm-8" id="dateCol">
					<div style="overflow:hidden; display:block;">
				        <div class="row">
				            <div class="col-md-8">
			    	            <div id="datetimepicker12"></div>
			        	    </div>
				        </div>
					</div>
					<button class="btn btn-primary" id="addShow">Add show time</button>
					<div id='dateValidation'></div>
				</div>			
			</div>
			
			<br>
			<br>
			<br>

 			<table class="table table-hover" id="showingsTable">
				<thead>
					<tr>
						<th>Select</th>
						<th>Date</th>
						<th>Time</th>
					</tr>
				</thead>
				<tbody id="showingsTableBody">
				</tbody>
			</table>
			<button class="btn btn-primary" id="deleteShow">Delete show time</button>

		</form>
	</div>

        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

<script>

$(document).ready(function() {

	var minDateValue = moment();
	var maxDateValue = moment().add(1, 'year')

    $('#datetimepicker12').datetimepicker({
        inline: true,
        sideBySide: true,
        minDate: minDateValue,
        maxDate: maxDateValue
    });	

	$("#addShow").click(function(e) {
		e.preventDefault();
		var date = $("#datetimepicker12").data('DateTimePicker').date();

		// Date
		var day = date.date();
		var month = moment().month(date.month()).format('MMM');
		var year = date.year();

		// Time
		var suffix = date.hour() >= 12 ? "PM":"AM"; 
		var hours = (date.hour() + 11) % 12 + 1;
		var minute = (date.minute() < 10? '0':'') + date.minute();

        var markup = $("<tr><td><input type='checkbox' name='record'></td><td>" + month + " " + day + " " + year + "</td><td>" + hours + ":" + minute + " " + suffix + "</td></tr>");
        markup.data("date", date);
        $("#showingsTableBody").append(markup);
    });

    $("#deleteShow").click(function(e){
    	e.preventDefault();
        $("#showingsTableBody").find('input[name="record"]').each(function(){
          	if($(this).is(":checked")){
                $(this).parents("tr").remove();
            }
        });
    });

    $("#create").click(function(e) {
    	e.preventDefault();

    	var titleVal = $("#title").val();
    	var venueVal = $("#venue").val();
    	var genreVal = $(".selectpicker").val();
    	var dateCount = document.getElementById("showingsTable").rows.length;

    	// Form Validation
    	if (!titleVal || !venueVal || !genreVal || dateCount <= 1) {
    		if (!titleVal) {
    			$("#titleValidation").replaceWith("<div id='titleValidation' class='alert alert-danger'> Please enter a title </div>");
    		} else {
    			$("#titleValidation").replaceWith("<div id='titleValidation'></div>");
    		}

    		if (!venueVal) {
    			$("#venueValidation").replaceWith("<div id='venueValidation' class='alert alert-danger'> Please enter a venue </div>");
    		} else {
    			$("#venueValidation").replaceWith("<div id='venueValidation'></div>");
    		}

    		if (!genreVal) {
    			$("#genreValidation").replaceWith("<div id='genreValidation' class='alert alert-danger'> Please pick at least one genre </div>");
    		} else {
    			$("#genreValidation").replaceWith("<div id='genreValidation'></div>");
    		}

    		if (dateCount <= 1) {
    			$("#dateValidation").replaceWith("<div id='dateValidation' class='alert alert-danger'> Please pick a date </div>");
    		} else {
    			$("#dateValidation").replaceWith("<div id='dateValidation'></div>");
    		}

    	} else {
    		var data = {};
    		data['title'] = titleVal;
    		data['venue'] = venueVal;
	    	data['genre'] = genreVal;
    		data['date'] = [];
    		//TODO:  		data['photo'] = 


    		var dates = [];
	    	$('#showingsTable > tbody  > tr').each(function() {
    			var isoDate = ($(this).data("date")).toISOString();
    			dates.push(isoDate);
	    	});

	    	data['date'] = dates;

			// $.each(date, function( key, value ) {
			//   alert( key + ": " + value );
			// });

			$.post('/shows/addshow', data, function(result) {
				if (result) {
					var showId = result.id;
					window.location.href = '/shows/' + showId;
				};
    	    });

    	}
    });
});	
</script>

</body>
</html>
