<!doctype html>
<html>
<head>
	<% include ./head %>
</head>
<% include ./header %>
<style>
table {
    border-collapse: collapse;
    width: 100%;
}
</style>

	<div class="page-header text-center">
		<% if (isShowOwner) { %>
		<button class="btn pull-right btn-success" onclick="location.href='/auditions/addaudition';"> Create Audition</button>
		<% } %>
		<h2>Auditions</h2>
	</div>

	<div class="container">
		<table>
			<!-- Column Name -->
			<tr>
				<th>Show</th>
				<th>Audition Date(s)</th>
				<th>Company</th>
			</tr>

			<!-- Column Rows -->
			<script>
				console.log(data.length);
			</script>
			<% data.forEach(function(datum) { %>
			<tr>
				<td><%=datum[1]%></td>
				<td><%=datum[0].date%></td>
				<td><%=datum[2]%></td>
			</tr>
			<% }) %>
		</table>
	</div>

        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
</body>
</html>