<!doctype html>
<html>
<head>
	<% include ./head %>
</head>
<% include ./header %>
<style>
table {
    border-collapse: collapse;
    width: 100%;
}
</style>

	<div class="page-header text-center">
		<% if (isShowOwner) { %>
		<button class="btn pull-right btn-success" onclick="location.href='/auditions/addaudition';"> Create Audition</button>
		<% } %>
		<h2>Auditions</h2>
	</div>

	<div class="container">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Show</th>
					<th>Audition Date(s)</th>
					<th>Company</th>
				</tr>
			</thead>

			<!-- Column Rows -->
			<tbody>
				<% data.forEach(function(datum) { %>
				<tr onclick="location.href='/auditions/<%=datum.id%>';">
					<td ><%=datum.show%></td>
					<td><%=datum.date%></td>
					<td><%=datum.company%></td>
				</tr>
				<% }) %>
		</tbody>
		</table>
	</div>

        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
</body>
</html>