<!doctype html>
<html>
<head>
	<% include ./head %>
</head>
<% include ./header %>
<style>
.column {
    float: left;
    width: 50%;
    padding: 10px;
}
</style>

	<div class="page-header text-center">
		<h2><%=name%></h2>
	</div>

	<div class="container">
		<div class="row">
			  <div class="column">
      			<img src="/static<%=picture%>" style="width:70%">
		    </div>
		</div>
	</div>

        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
</body>
</html>